html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: hsl(212, 45%, 89%);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    width: 20%;
    border-radius: 15px;
}

.qrcode {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.text {
    margin: 0 15px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.title {
    font-weight: 650;
    color: hsl(218, 44%, 22%);
    font-size: 25px;
}

.scan {
    color: grey;
    font-weight: 400;
    margin: 0 15px;
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}